body {
    background: #ffffff;
    text-align: center;
}

h1 {
    color: #986940;

}

h2 {
    color: #986940;
  
}





header {
    background-color: #fce192;
    color: #986940;
    display: flex;
    width: 100%;
    max-width: 960px;
}

.navigation {
    display: flex;
    flex-direction: column;
    text-align: center;
    word-spacing: 50px;
}

footer {
    display: flex;
    justify-content: flex-end;
    color: #986940;
    width: 100%;
    max-width: 960px;
}

#table
{order : 1;}

.midle {
    background-color: #fce192;
    width:100%;
    max-width: 960px;

}

.tableform{
    display: flex;
    flex-direction: column;
}

table th {
    border: 2px solid #a4530d;
}

table td {
    border: 2px solid #a4530d;
}

.odd {
    background: #ffde81;
}

.evv {
    background: #d3ff81;
}





.logoo {
    padding-right: 50px;
    padding-bottom: 50px;
    float: left;
   
}










table {
    border-collapse: collapse;
    margin: 10px auto;
}

#table th {
    border: 1px solid black;
}

#table td {
    border: 1px solid black;
}

.one {
    background: #ACAED7;
}

.two {
    background: #EBDBD1;
}

.footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


@media only screen and (min-device-width: 768px) {
    .header {
        padding-left: 0;
        padding-right: 0;
    }

    .navigation {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        text-align: center;
        word-spacing: 50;
    }

    .midle {
        padding: 50px;
        width: 100%;
    }

   

    #table {
        order: 0;
    }

    #logo {
        order: 0;
    }

    #form {
        order: 0;
    }
}
